@import "variables";
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

// @font-face {
//   //font-family: 'Unbounded';
//   src: url('/public/Unbounded-VariableFont_wght.ttf') format('ttf');
// }

$montserrat: "Montserrat", sans-serif;
$unbounded: 'Unbounded', sans-serif;
$main-color: #035fcc;
$title-color: #21262d;
$text-color: #484d54;

html {
  font-size: 20px;
  @media (max-width: 1400px) {
    font-size: 16px;
  }
  @media (max-width: 1200px) {
    font-size: 10px;
  }
  @media (max-width: 1100px) {
    font-size: 10px;
  }
}
body {
  font-size: 0.8rem;
  background-color: #F8F9FB;
}

.subtitle {
  font-size: 1.5rem;
  color: $title-color;
  //font-family: $unbounded;
  font-weight: 700;
}
.text {
  font-size: 0.8rem;
  color: $text-color;
  // //font-family: $montserrat;
  font-weight: 400;
}
.button {
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0eeff;
  border-radius: 1rem;
  padding: 0.5rem 2.5rem; 
  & img {
    @media (max-width: 900px) {
      width: 90px;
    }
  }
  &__nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    //font-family: $unbounded;
    font-weight: 400;
    color: $title-color;
  }
  &__nav-item {
    list-style: none;
    cursor: pointer;
  }
}

.first-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .h1 {
    // //font-family: $unbounded;
    color: $main-color;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  & .subtitle {
    margin-top: 10px;
  }

  & .text {
    font-size: 1rem;
  }

  & .button {
    background-color: $main-color;
    color: #fff;
    font-size: 0.8rem;
    padding: 1rem 2.5rem;
    //font-family: $unbounded;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    & img {
      transition: all 0.3s;
    }
    &:hover img {
      transform: translateX(10px);
    }
  }

  .video-container {
    overflow: hidden;
    width: 100%;
    border-radius: 2rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .video {
      @media (max-width: 800px) {
        width: 100%;
      }
    }
  }
}

.marquee {
  border-top: solid 3px $title-color;
  border-bottom: solid 3px $title-color;
  padding: 20px 0;
  margin-top: 50px;

  & span {
    margin: 0 30px;
    font-size: 1.5rem;
    //font-family: $unbounded;
    color: $main-color;
  }
}

.partners {
  padding: 20px 0;
  border-bottom: solid 3px $title-color;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 26px;
    padding: 40px 0;
    @media (max-width: 900px) {
      padding: 2px 0;
    }

    &--img-container {
      @media (max-width: 1300px) {
        width: 30%;
      }
    }
  }
  & img {
    max-width: 400px;
    @media (max-width: 1200px){
      width: 100%;
    }
    @media (max-width: 800px){
      width: 80%;
    }
  }
}

.article {
  display: flex;
  justify-content: space-between;
  @media (max-width: 700px) {
    flex-direction: column;
  }
  &__text-container {
    width: 50%;
    margin-top: 6rem;
    @media (max-width: 700px) {
      width: 100%;
    }
    & h2 {
      //font-family: $unbounded;
      color: $main-color;
      font-size: 1.5rem;
    }
    & p {
      font-size: 1rem;
      //font-family: $montserrat;
      color: $text-color;
      line-height: 1.5rem;
    }
  }
  &__img-container {
    width: 50%;
    @media (max-width: 700px) {
      width: 100%;
    }
    & img {
      width: 120%;
      height: 690px;
      margin-left: -185px;
      @media (max-width: 1400px) {
        height: 550px;
      }
      @media (max-width: 1200px) {
        height: 400px;
        margin-left: -60px;
        width: 100%;
      }
      @media (max-width: 900px) {
        height: 300px;
        margin-left: -60px;
        width: 100%;
      }
      @media (max-width: 700px) {
        height: unset;
        margin-left: 0;
        width: 100%;
      }
    }
  }
  .hide-text {
    // opacity: 0;
    // display: block;
    // height: 0;
    display: none;
  }
  .show-text {
    display: inline;
  }

  .arrow {
    transition: all 0.3s;
  }

  .active-text {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    & p {
      //font-family: $unbounded;
      color: $main-color;
      font-weight: 500;
      font-size: 1.2rem;
    }

    &:hover .arrow-down {
      transform: translateY(10px);
    }
    &:hover .arrow-up {
      margin-bottom: 10px;
    }
  }
}

.speakers {
  & h2 {
    text-align: center;
    font-size: 2.3rem;
    //font-family: $unbounded;
    color: $title-color;
  }

  &__buttons-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media (max-width: 980px) {
      gap: 4px;
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(4, 1fr);

    }

    & button {
      //font-family: $montserrat;
      border: 2px solid #DAE4EF;
      font-weight: 500;
      font-size: 0.7rem;
      border-radius: 24px;
      transition: all 0.35s;
      background-color: transparent;
      cursor: pointer;
      padding: 0.6rem 1rem;

      &:hover,
      &:focus {
        color: $main-color;
        background-color: #E0EEFF;
        border-color: transparent;
      }
    }
  }
  &__grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    @media (max-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    border-radius: 10px;
    // overflow: hidden;
    width: fit-content;
    margin-bottom: 3.5rem;
    @media (max-width: 1400px) {
      overflow: unset;
      width: unset;
    }

    & img {
      width: 100%;
      height: 100%;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      @media (max-width: 1400px){
        width: 100%;
        height: 100%;
      }
    }

    &--text {
      position: absolute;
      top: 0;
      left: 8px;
      @media (max-width: 1200px) {
        top: 10px;
      }
      @media (max-width: 980px) {
        top: -1px;
      }
      @media (max-width: 500px) {
        top: -1px;
      }
      @media (max-width: 450px) {
        left: 6px;
      }

      & .stage {
        //font-family: $montserrat;
        color: $main-color;
        font-weight: 500;
        max-width: 200px;
        margin-bottom: 4px;
        font-size: 0.7rem;
        @media (max-width: 1300px) {
          margin-bottom: 2px;
        }
        @media (max-width: 500px) {
          margin-bottom: 2px;
        }
      }
      & .name {
        //font-family: $unbounded;
        color: $title-color;
        font-size: 0.8rem;
        font-weight: 500;
        margin: 0;
      }

      & .subtitle {
        //font-family: $montserrat;
        color: #556986;
        font-size: 0.8rem;
        font-weight: 400;
        margin: 4px 0;
        @media (max-width: 1300px) {
          margin-top: 6px;
        }
        @media (max-width: 500px) {
          margin-top: 2px;
        }
        @media (max-width: 500px) {
          margin: 0;
        }
      }

    }
    &--text-container {
      margin-top: -60px;
      position: relative;
      @media (max-width: 1400px) {
        margin-top: -87px;
      }
      @media (max-width: 1200px) {
        margin-top: -70px;
      }
      @media (max-width: 1000px) {
        margin-top: -60px;
      }

      & img {
        @media (max-width: 1400px) {
          width: 100%;
        }
      }
    }
  }
}

.arrow {
  transition: all 0.3s;
}
.transparent-button {
  border: solid 2px $main-color;
  display: flex;
  align-items: center;
  gap: 10px;
  //font-family: $unbounded;
  padding: 1rem 3.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: $main-color;
  background-color: transparent;
  cursor: pointer;

  &:hover .arrow-down {
    transform: translateY(10px);
  }
  &:hover .arrow-up {
    transform: translateY(10px);
  }
}

.agenda {
  &__item {
    border-bottom: solid 2px $title-color;
    padding: 10px 0;

    & .left {
      width: 10%;
      text-align: center;

      .time {
        //font-family: $unbounded;
        font-size: 1.2rem;
        font-weight: 400;
        color: #2C2C2C;
      }
    }
    & .right {
      width: 80%;
      & .title {
        //font-family: $unbounded;
        color: $title-color;
        font-weight: 500;
        font-size: 1.2rem;
      }
      & .description {
        //font-family: $montserrat;
        font-weight: 400;
        line-height: 1.6rem;
        color: #556986;
        font-size: 1rem;
      }
      & .speaker { 
        //font-family: $unbounded;
        font-weight: 500;
        color: $main-color;
        font-size: 1rem;
      }
    }

    &--text-container {
      padding: 1rem;
      background-color: #fff;
    }

    &--inner {
      display: flex;
      justify-content: space-between;
    }
  }
}

.pictures {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  @media (max-width: 800px) {
    display: grid;
  }

  & img {
    width: 100%;

    @media (max-width: 800px) {
      height: 100%;
      width: 100%;
    }
  }

  &__location-container {
    @media (max-width: 1400px) {
      max-width: 50%;
    }
    @media (max-width: 800px) {
      max-width: unset;
      width: 100%;
    }
  }
  &__right-container {
    @media (max-width: 1400px) {
      max-width: 50%;
    }
    @media (max-width: 800px) {
      max-width: unset;
      width: 100%;
    }
  }

  & .location {
    //font-family: $unbounded;
    color: #BDC6D1;
    font-size: 0.8rem;
    margin: 0;
  }

  &__date {
    //font-family: $unbounded;
    color: #21262d;
    font-size: 1rem;
    font-weight: 500;
  }

  &__title {
    //font-family: $unbounded;
    font-weight: 600;
    font-size: 1.8rem;
    color: $main-color;
  }

  & .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.bottom-external {
  max-width: 85%; 
  margin: 0 auto;
  background-color: #0B4C99; 
  border-radius: 20px;
  @media (max-width: 980px){
    max-width: 99%;
  }
}

.bottom {
  color: #FFF;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__social {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 800px) {
      justify-content: center;
    }
  }

  & a {
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover .arrow {
      transition: all 0.3s;
      transform: translatex(10px);
    }
  }
  &__first-line {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }
    & .date {
      //font-family: $unbounded;
      font-size: 1.3rem;
      margin-top: 0;
    }
    .link-site {
      //font-family: $unbounded;
      font-weight: 400;
      font-size: 0.9rem;
    }
    .link-text {
      //font-family: $montserrat;
      font-weight: 300;
      font-size: 0.6rem;
    }
    .link-mail {
      //font-family: $unbounded;
      font-weight: 400;
      font-size: 0.7rem;
      display: inline;
    }
  }
  & h2 {
    text-align: center;
    font-size: 2rem;
    color: #FFF;
    //font-family: $unbounded;
    margin: 10px 0;
  }
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 400%;
  background: #000000CC;
  z-index: 11;
  position: absolute;
}

.modal {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 60%;
  border-radius: 30px;
  text-align: center;
  padding: 0 40px 40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 12;
  position: absolute;
  @media (max-width: 900px) {
    width: 60%;
  }

  & h2 {
    color: $main-color;
    //font-family: $unbounded;
    font-weight: 500;
    font-size: 1.8rem;
  }
}
.form {
  width: 90%;
}
.input-container {
  display: flex;
  flex-direction: column;
  //font-family: $montserrat;
  color: #21262D;
  font-size: 1rem;
  font-weight: 400;
  margin: 40px 0;

  .label {
    text-align: start;
  }

  & span {
    color: red;
  }

  .input {
    padding: 0.9rem 1.2rem;
    font-size: 1.2rem;
    border-radius: 60px;
    border-right: none;
    border-top: none;
    border-left: none;
    color: #556986;
    //font-family: $montserrat;
  }

}

.br {
  @media (max-width: 1400px) {
    display: none;
  }
}

.dreamx {
  @media (max-width: 1400px) {
    width: 30%;
  }
}

.uvca {
  @media (max-width: 980px) {
    margin-left: 6px;
  }
}