@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

$montserrat: "Montserrat", sans-serif;
$unbounded: "Unbounded", sans-serif;
$main-color: #035fcc;
$title-color: #21262d;
$text-color: #484d54;

html {
  font-size: 20px;
}
body {
  font-size: 0.8rem;
}

.subtitle {
  font-size: 1.5rem;
  color: $title-color;
  font-family: $unbounded;
  font-weight: 700;
}
.text {
  font-size: 0.8rem;
  color: $text-color;
  font-family: $montserrat;
  font-weight: 400;
}
.button {
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0eeff;
  border-radius: 1rem;
  padding: 0.5rem 2.5rem;
  &__nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-family: $unbounded;
    font-weight: 400;
    color: $title-color;
  }
  &__nav-item {
    list-style: none;
    cursor: pointer;
  }
}

.first-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .h1 {
    // font-family: $unbounded;
    // color: $main-color;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  & .subtitle {
    margin-top: 10px;
  }

  & .text {
    font-size: 1rem;
  }

  & .button {
    background-color: $main-color;
    color: #fff;
    font-size: 0.8rem;
    padding: 1rem 2.5rem;
    font-family: $unbounded;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    & img {
      transition: all 0.3s;
    }
    &:hover img {
      transform: translateX(10px);
    }
  }

  .video-container {
    overflow: hidden;
    width: 100%;
    border-radius: 2rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    .video {
      width: 120%;
      border: solid red;
      background: #035fcc;
    }
  }
}

.marquee {
  border-top: solid 3px $title-color;
  border-bottom: solid 3px $title-color;
  padding: 20px 0;
  margin-top: 50px;

  & span {
    margin: 0 30px;
    font-size: 1.5rem;
    font-family: $unbounded;
    color: $main-color;
  }
}

.partners {
  padding: 20px 0;
  border-bottom: solid 3px $title-color;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 26px;
    padding: 40px 0;
  }
  & img {
    max-width: 400px;
  }
}

.article {
  display: flex;
  justify-content: space-between;
  &__text-container {
    width: 50%;
    margin-top: 6rem;
    & h2 {
      font-family: $unbounded;
      color: $main-color;
      font-size: 1.5rem;
    }
    & p {
      font-size: 1rem;
      font-family: $montserrat;
      color: $text-color;
      line-height: 1.5rem;
    }
  }
  &__img-container {
    width: 50%;
    & img {
      width: 120%;
      height: 690px;
      margin-left: -185px;
    }
  }
  .hide-text {
    // opacity: 0;
    // display: block;
    // height: 0;
    display: none;
  }
  .show-text {
    display: inline;
  }

  .arrow {
    transition: all 0.3s;
  }

  .active-text {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    & p {
      font-family: $unbounded;
      color: $main-color;
      font-weight: 500;
      font-size: 1.2rem;
    }

    &:hover .arrow-down {
      transform: translateY(10px);
    }
    &:hover .arrow-up {
      margin-bottom: 10px;
    }
  }
}

.speakers {
  & h2 {
    text-align: center;
    font-size: 2.3rem;
    font-family: $unbounded;
    color: $title-color;
  }

  &__buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & button {
      font-family: $montserrat;
      border: 2px solid #DAE4EF;
      font-weight: 500;
      font-size: 1rem;
      border-radius: 24px;
      transition: all 0.35s;
      background-color: transparent;
      cursor: pointer;
      padding: 0.6rem 1rem;

      &:hover,
      &:focus {
        color: $main-color;
        background-color: #E0EEFF;
        border-color: transparent;
      }
    }
  }
  &__grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  &__item {
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;

    &--text {
      position: absolute;
      top: 0;
      left: 20px;

      & .stage {
        font-family: $montserrat;
        color: $main-color;
        font-weight: 500;
      }
      & .name {
        font-family: $unbounded;
        color: $title-color;
        font-size: 1.1rem;
        font-weight: 500;
        margin: 0;
      }

      & .subtitle {
        font-family: $montserrat;
        color: #556986;
        font-size: 0.8rem;
        font-weight: 400;
      }

    }
    &--text-container {
      margin-top: -60px;
      position: relative;
    }
  }
}


.arrow {
  transition: all 0.3s;
}
.transparent-button {
  border: solid 2px $main-color;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: $unbounded;
  padding: 1rem 3.5rem;
  font-size: 1rem;
  color: $main-color;
  background-color: transparent;
  cursor: pointer;

  &:hover .arrow-down {
    transform: translateY(10px);
  }
  &:hover .arrow-up {
    transform: translateY(10px);
  }

}