.container {
  margin: 0 auto;
  max-width: 80%;
}

/* @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap'); */

/* .h1css {
  font-family: 'Unbounded', sans-serif;
  color: red;
} */